@use "../../scss/base/vars" as *;

.end {
  grid-area: 1 / 1;
  position: relative;
  z-index: 0;
  min-height: 100svh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  will-change: opacity;
  transition:
    opacity 0.35s ease,
    visibility 0.35s allow-discrete;

  &--active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    z-index: 100;

    @starting-style {
      opacity: 0;
    }
  }

  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 0;
  }

  &__layers {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__layer {
    position: absolute;
    &--base {
      width: 100%;
      height: 100%;
      inset: 0;
      .end__media {
        display: block;
        width: 100%;
        height: 100%;
        background: $blue;
        img {
          mix-blend-mode: luminosity;
          object-fit: cover;
        }
      }
    }

    &--artwork {
      width: 1081rem;
      height: 1081rem;
      top: 220rem;
      left: 50%;
      margin-left: -540.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .end__media {
        display: block;
        width: 100%;
        height: 100%;
        img {
          object-fit: contain;
          mix-blend-mode: lighten;
        }
      }
    }

    &--glow-blue {
      width: 1240rem;
      height: 884rem;
      top: -425rem;
      left: -210rem;
      border-radius: 100%;
      transform: rotate(-16deg);
      background: radial-gradient(50% 50% at 50% 50%, #2675ff 0%, rgba(38, 117, 255, 0) 100%);
    }

    &--glow-green-top {
      width: 810rem;
      height: 580rem;
      right: -520rem;
      top: 225rem;
      border-radius: 100%;
      transform: rotate(-86deg);
      background: radial-gradient(50% 50% at 50% 50%, #00ff5d 0%, rgba(0, 255, 93, 0) 100%);
    }

    &--glow-green-bottom {
      width: 910rem;
      height: 580rem;
      bottom: 280rem;
      right: -420rem;
      border-radius: 100%;
      transform: rotate(-16deg);
      background: radial-gradient(50% 50% at 50% 50%, #00ff5d 0%, rgba(0, 255, 93, 0) 100%);
    }
    &--glow-gradient-right {
      top: 0;
      right: 0;
      bottom: 0;
      width: 215rem;
      height: 100%;
      background: linear-gradient(270deg, rgba(0, 255, 93, 1) 0%, rgba(0, 255, 93, 0) 50%);
      opacity: 0.3;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    padding: 160rem 0 80rem 0;
  }

  &__intro {
    margin-bottom: 90rem;
  }

  &__title {
    margin-bottom: 70rem;
    margin-left: -80rem;
  }

  &__title-line {
    padding: 0 10rem 0 80rem;
    display: block;
    width: max-content;
    text-transform: uppercase;
    color: $black;
    font-size: 70rem;
    line-height: 81rem;
    font-weight: 600;
    margin-bottom: 15rem;
    &:last-child {
      margin-bottom: unset;
    }

    &--accent {
      background: $green;
    }
  }

  &__texts {
    position: relative;
    padding-left: 180rem;
    margin-left: -80rem;
    &::before {
      content: "";
      position: absolute;
      width: 180rem;
      height: 100%;
      left: 0;
      top: 0;
      bottom: 0;
      background: $dark;
    }
    &::after {
      content: "";
      position: absolute;
      width: 2rem;
      height: calc(100% - 24rem);
      left: 147rem;
      top: 50%;
      transform: translateY(-50%);
      background: $grey;
    }
  }

  &__description {
    margin-bottom: 32rem;
    position: relative;
    color: $grey;
    font-size: 24rem;
    line-height: 29rem;
    font-weight: 350;
    max-width: 632rem;
    &::after {
      content: "";
      position: absolute;
      width: 286rem;
      height: 40rem;
      bottom: -40rem;
      left: 0;
      background: $dark;
    }
    &:last-child {
      margin-bottom: unset;
      &::after {
        content: unset;
      }
    }
    background: $dark;
    padding: 5rem;
    width: fit-content;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 32rem;
  }

  &__stats-title {
    background: $dark;
    padding: 16rem 60rem 12rem 150rem;
    margin-left: -80rem;
    color: $white;
    font-size: 24rem;
    line-height: 31rem;
    font-weight: 600;
  }

  &__stats-list {
    margin-left: 95rem;
    background: $dark;
    padding: 60rem 50rem 45rem 180rem;
    margin-left: -80rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15rem 40rem;
    position: relative;
    margin-top: -2rem;
    &::before {
      content: "";
      width: 1rem;
      height: calc(100% - 40rem);
      position: absolute;
      left: 150rem;
      bottom: 0;
      background: $white;
    }
  }

  &__stats-item {
    &--accent {
      .end__stats-value {
        border: 1rem solid $purple;
      }
      .end__stats-bar {
        background: $purple;
      }
    }
  }

  &__stats-value {
    border: 1rem solid $green;
    margin-bottom: 8rem;
    overflow: hidden;
    color: $white;
    font-size: 32rem;
    line-height: 39rem;
    font-weight: 600;
    padding: 3rem 14rem;
    position: relative;
  }

  &__stats-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: $green;
    pointer-events: none;
  }

  &__stats-number {
    position: relative;
    z-index: 1;
    text-shadow: 0rem 0rem 8.1rem rgba(2, 74, 28, 0.2);
  }

  &__stats-unit {
    font-size: 20rem;
    line-height: 24rem;
    font-weight: 350;
  }

  &__stats-text {
    color: $grey;
    font-size: 24rem;
    line-height: 29rem;
    font-weight: 350;
  }

  &__stats-footer {
    display: flex;
    align-items: flex-end;
    gap: 10rem;
    background: $dark;
    width: 100%;
    max-width: 783rem;
    padding: 10rem 30rem 10rem 150rem;
    margin-left: -80rem;
    margin-top: -2rem;
  }

  &__stats-footer-mark {
    margin-bottom: 10rem;
    margin-top: -8rem;

    svg {
      width: 10rem;
      min-width: 10rem;
      height: 34rem;
    }
  }

  &__stats-footer-text {
    display: flex;
    align-items: center;
    gap: 16rem;
    font-size: 24rem;
    line-height: 31rem;
    font-weight: 350;
    &::before {
      content: "";
      width: 18rem;
      min-width: 18rem;
      height: 18rem;
      background: $purple;
    }
    color: $white;
    span {
      color: $purple;
    }
  }
}
