@use "../../scss/base/vars" as *;

.steps {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;

    &--active {
      .steps__circle {
        background: $green;
      }
    }
  }

  &__circle {
    width: 54px;
    border-radius: 100%;
    height: 54px;
    border: 2px solid $green;
    transition: background 0.3s;
  }

  &__line {
    width: 85px;
    height: 2px;
    background: $green;
  }
}
