html,
body {
  min-height: 100%;
}

body {
  font-family: "Museo Sans Cyrl", sans-serif;
  background: #000000;
  color: #fff;
}

.wrapper,
.main {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1275rem;
  padding: 0 15rem;
  margin: 0 auto;
}
