html,
body {
  min-height: 100%;
}

body {
  font-family: "Museo Sans Cyrl", sans-serif;
  background: #000000;
  color: #fff;
}

.wrapper,
.main {
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 40rem;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 0 15rem;
  }
}
