@font-face {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Museo Sans Cyrl 100"), local("MuseoSansCyrl-100"),
    url("../fonts/MuseoSansCyrl-100.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-100.woff") format("woff");
}
@font-face {
  font-family: "Museo Sans Cyrl";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local("Museo Sans Cyrl 100 Italic"), local("MuseoSansCyrl-100Italic"),
    url("../fonts/MuseoSansCyrl-100Italic.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-100Italic.woff") format("woff");
}
@font-face {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Museo Sans Cyrl 300"), local("MuseoSansCyrl-300"),
    url("../fonts/MuseoSansCyrl-300.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-300.woff") format("woff");
}
@font-face {
  font-family: "Museo Sans Cyrl";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local("Museo Sans Cyrl 300 Italic"), local("MuseoSansCyrl-300Italic"),
    url("../fonts/MuseoSansCyrl-300Italic.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-300Italic.woff") format("woff");
}
@font-face {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Museo Sans Cyrl 500"), local("MuseoSansCyrl-500"),
    url("../fonts/MuseoSansCyrl-500.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-500.woff") format("woff");
}
@font-face {
  font-family: "Museo Sans Cyrl";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local("Museo Sans Cyrl 500 Italic"), local("MuseoSansCyrl-500Italic"),
    url("../fonts/MuseoSansCyrl-500Italic.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-500Italic.woff") format("woff");
}
@font-face {
  font-family: "Museo Sans Cyrl";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Museo Sans Cyrl 700"), local("MuseoSansCyrl-700"),
    url("../fonts/MuseoSansCyrl-700.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-700.woff") format("woff");
}
@font-face {
  font-family: "Museo Sans Cyrl";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local("Museo Sans Cyrl 700 Italic"), local("MuseoSansCyrl-700Italic"),
    url("../fonts/MuseoSansCyrl-700Italic.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-700Italic.woff") format("woff");
}
@font-face {
  font-family: "Museo Sans Cyrl";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: local("Museo Sans Cyrl 900 Italic"), local("MuseoSansCyrl-900Italic"),
    url("../fonts/MuseoSansCyrl-900Italic.woff2") format("woff2"),
    url("../fonts/MuseoSansCyrl-900Italic.woff") format("woff");
}
