$green: #00ff5d;
$dark-green: #009637;
$black-green: #335a50;
$white: #ffffff;
$black: #10051b;
$dark: #1a131e;
$black-blue: #1b1928;
$dark-blue: #131e14;
$dark-black: #0d0518;
$grey: #d1cadc;
$dark-grey: #958da5;
$blue: #005eff;
$purple: #ce7fff;
$dark-purple: #81509f;
