{% extends "layouts/base.njk" %}
{% set page = {"title": "Главная", "description": "Описание страницы", "bodyClass": "page-home"} %}
{% from "blocks/start/start.njk" import start %}
{% from "blocks/test/test.njk" import test %}
{% from "blocks/end/end.njk" import end %}
{% from "blocks/components/popup.njk" import resetPopup, languagesPopup %}
{% block content %}
{{ start() }}
{{ test() }}
{{ end({"hidden": true}) }}
{{ resetPopup() }}
{{ languagesPopup() }}
{% endblock %}
