<!DOCTYPE html>
<html lang="{{ page.lang or site.lang or 'ru' }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title or site.name }}</title>
    <meta name="description"
          content="{{ page.description or site.description }}" />
    <link rel="stylesheet" href="css/{{ 'style.min.css' if build.isProd else 'style.css' }}?v={{ build.assetVersion }}" />
  </head>
  <body class="{{ page.bodyClass or '' }}">
    <div class="wrapper">
      <main class="main">
        {% block content %}{% endblock %}
      </main>
    </div>
    <script type="module" src="js/{{ 'main.min.js' if build.isProd else 'main.js' }}?v={{ build.assetVersion }}"></script>
  </body>
</html>
