@use "../../scss/base/vars" as *;

.langs {
  &__list {
    display: flex;
    align-items: center;
    gap: 20rem;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    position: relative;
    width: 80rem;
    height: 80rem;
    font-size: 25rem;
    line-height: 25rem;
    font-weight: 600;
    transition: color 0.3s;

    &--active {
      padding: 10rem;
      background: $green;
      color: $dark-blue;
    }
  }

  &__link {
    padding: 10rem;
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__link {
    background: rgba($dark, 70%);
    color: $green;
    transition:
      background 0.3s,
      color 0.3s,
      box-shadow 0.3s;
    border: 1rem solid $green;

    @media (hover: hover) {
      &:hover {
        background: rgba($dark, 0.9);
        box-shadow: 0 0 18rem rgba($green, 0.18);
      }
    }

    @media (hover: none) {
      &:active {
        background: rgba($dark, 0.9);
        box-shadow: 0 0 18rem rgba($green, 0.18);
      }
    }
  }
}
