{% macro bottomActions(props = {}) %}
{% set elementClass = props.elementClass or "" %}
{% set backClass = props.backClassName or (elementClass | replace("__bottom", "__back")) %}
{% set submitClass = props.submitClassName or (elementClass | replace("__bottom", "__submit")) %}
<div class="panel-actions{{ (' ' ~ elementClass) if elementClass else '' }}">
    {% if props.showBack != false %}
    <button
        class="panel-actions__back{{ (' ' ~ backClass) if backClass else '' }}{{ (' panel-actions__back--full-icon') if props.backIcon == 'full' else '' }}"
        type="{{ props.backType or 'button' }}"
        {% if props.backDisabled %}disabled{% endif %}>
        {% if props.backIcon == "end" %}
        <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M20.8906 31.332H45.3351C51.4716 31.332 56.4462 36.3066 56.4462 42.4431C56.4462 48.5796 51.4716 53.5543 45.3351 53.5543H22.6684"
                stroke="#00FF5D" stroke-width="3.55556" />
            <path d="M31.1141 23.1094L19.5586 31.1094L31.1141 39.1094" stroke="#00FF5D"
                stroke-width="3.55556" stroke-linejoin="bevel" />
        </svg>
        {% else %}
        <svg width="38" height="23" viewBox="0 0 38 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.77734 11.1367H37.3329" stroke="#00FF5D" stroke-width="3.55556" />
            <path d="M13.6803 2.5462L1.77734 11.1367L13.6803 19.7272" stroke="#00FF5D" stroke-width="3.55556"
                stroke-linejoin="bevel" />
        </svg>
        {% endif %}
    </button>
    {% endif %}
    <button
        class="panel-actions__submit{{ (' ' ~ submitClass) if submitClass else '' }}"
        type="{{ props.submitType or 'button' }}"
        {% if props.submitDisabled %}disabled{% endif %}>
        <span>{{ props.submitText }}</span>
        {% if props.submitIcon %}
        <svg width="38" height="23" viewBox="0 0 38 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M35.5566 11.1328H0.00108345" stroke="#131E14" stroke-width="3.5" />
            <path d="M23.6537 2.54229L35.5566 11.1328L23.6537 19.7233" stroke="#131E14" stroke-width="3.5"
                stroke-linejoin="bevel" />
        </svg>
        {% endif %}
    </button>
</div>
{% endmacro %}
