{% macro head(props = {}) %}
<div class="panel-head{{ (' ' ~ props.className) if props.className else '' }}{{ (' panel-head--' ~ props.theme) if props.theme else '' }}">
    <div class="panel-head__suptitle">
        {{ props.suptitle }}
    </div>
    <div class="panel-head__icons">
        {% if caller %}{{ caller() }}{% endif %}
    </div>
</div>
{% endmacro %}
